header img{
  padding: 18px;
  height: 12vh;
  width: auto;
  position: relative;
}
header{
  background-color: white;
}


.overflow-auto{
  overflow: auto;
}

.sy-70{
  width:68%;
  float: left;
}
.sy-30{
  width:28%;
  float: left;
}

.toggleShow2{
  display: none;
}

.sy-50-50{
  width:48%;
  float: left;
}
.sy-margin-left{
  margin-left: 4%;
}

.authentication-form .card.sy-card-mobile{
  width: 95vw;
}

.sy-mobile-form {
  min-height: 0px;
  overflow: scroll;
  background-color: white;
}

.sy-form-section{
  overflow: auto;
  margin-bottom: 5px;
}

.authentication-form .sy-form-section .sy-form-p{
  width: 100%;
}

.authentication-form {
  padding: 0px;
  background-image: none;
}

.authentication-form .theme-form .sy-chgroup a{
  color: #02BCF2;
  text-decoration: underline;
}
.authentication-form .theme-form .sy-chgroup a:visited{
  color: black;
  text-decoration: underline;
}

.authentication-form .theme-form .form-group{
  margin: 0px auto 10px auto;
}

.authentication-form .theme-form .form-control{
   -webkit-box-shadow: none;
  box-shadow: none;

  border-radius: 5px;
  border: 1px solid #EAEAEA;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 10px;
}

.authentication-form .card{
  border: none;
}

.sy-form-label-plan{
  margin-left: .5rem;
  margin-top: .3rem;
  color: #02BCF2;
}



.authentication-form .theme-form .sy-form-label {
  float: none;
  color: #777777;
  margin-bottom: 5px;
}

.authentication-form .theme-form .sy-form-group-label {
  float: none;
  font-weight: bold;
}

.authentication-form .theme-form .sy-form-select {
  height: auto;
}

.authentication-form .theme-form .sy-chgroup {
  overflow: auto;
}

.authentication-form .theme-form .sy-checkbox {
  float: left;
  margin-right: 10px;
  height: 19px;
}

.authentication-form .theme-form .btn-custom { 
  width: 100%;

  margin-top: 30px;
  padding: 7px;

  text-transform: none;
  background-color: #02BCF2;
}

.authentication-form .theme-form .btn-custom.btn-plan{
  background-color: white;
  color: #02BCF2;
  border: 1px solid #02BCF2;
  border-radius: 10px;
  margin: 0px;
}
.authentication-form .theme-form .btn-custom.btn-plan.elegido{
  background-color: #02BCF2;
  color: white;
}
.authentication-form .theme-form .btn-custom.btn-plan.desactivado{
  opacity: 0.3;
}
.authentication-form .theme-form .btn-custom.btn-plan.desactivado:hover{
  opacity: 0.3;
  background-color: white;
  color: #02BCF2;
}
.authentication-form .theme-form .btn-custom.btn-plan:hover{
  background-color: #02BCF2;
  color: white;

}

.authentication-form .theme-form .btn-custom.btn-back{
  background-color: white;
  color: #02BCF2;
  border: 1px solid #02BCF2;
  margin-top: 10px;
}


/* Modal movil */

.sy-flex-column{
  flex-direction: column;
}

.sy-modal-btn{
  width: 100%;
  text-transform: none;

  margin-top: 5px;
  padding: 7px;

  background-color: #02BCF2;
}

.sy-modal-btn-back{
  width: 100%;
  text-transform: none;

  margin-top: 5px;
  padding: 7px;

  color: #02BCF2;
  border: 1px solid #02BCF2;
  background-color: white;
}

.sy-modal-title{
  text-transform: none;
  color: #02BCF2;
  text-align: center;

  font-weight: bold;
  letter-spacing: 2px;
}

.sy-modal-subtitle{
  text-transform: none;
}

li p.sy-modal-li{
  margin-bottom: 5px;
  margin-left: 0px;

  text-transform: none;
}

p.sy-modal-prices{
  text-align: center;
  color: black;
  font-size: 14px;

  margin: 15px 0px 10px 0px;;
}

.sy-chatIconBuffer{
margin-bottom: 35px !important;
}
   
/* iFrame */
.hosted-container {
  width: 100%;
  height: 370px;
}

iframe {
  width: 100%;
  height: 100%;
}



